//COLORS
$yellow: #FDBC00;
$brown: #B26E2B;
$green: #5A7A7F;

//FONTS
@import url('../assets/fonts/Swiss-2/stylesheet.css');
@import url('../assets/fonts/Abhaya_Libre/stylesheet.css');

$swiss: 'Swis721 Cn BT';
$swiss-lt: 'Swis721 LtCn BT';
$abhaya: 'Abhaya Libre';

