.footer {
    padding: 64px 0;
    background-color: $green;
    position: relative;

    &::after {
        content: " ";
        width: 100%;
        height: 90%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url('../assets/img/trigo-verde@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 0;
    }

    .container {
        position: relative;
        z-index: 10;

        .row {
            &-top {
                border-bottom: 1px solid #fff;

                @include desktop {
                    padding-bottom: 16px;
                }

                @include desktop-lg {
                    padding-bottom: 16px;
                }

                @include desktop-xl {
                    padding-bottom: 16px;
                }
            }

            &-bottom {
                @include desktop {
                    padding: 24px 0;
                }

                @include desktop-lg {
                    padding: 24px 0;
                }

                @include desktop-xl {
                    padding: 24px 0;
                }
            }

            &-copy {
                border-top: 1px solid #fff;
                @include title($color: #fff);
                font-family: $swiss-lt;
                font-size: 14px;
                text-transform: unset;

                &-right {
                    display: flex;
                    justify-content: flex-end;
                }

                a {
                    font-family: $swiss;
                    color: #fff;
                    margin-left: 4px;

                    &:hover {
                        text-decoration: none;
                        color: #fff;
                    }
                }

                @include desktop {
                    padding-top: 16px;
                }

                @include desktop-lg {
                    padding-top: 16px;
                }

                @include desktop-xl {
                    padding-top: 16px;
                }
            }
        }
    }

    &-contact-title {
        @include title($color: #fff);
        font-family: $swiss-lt;
        margin-bottom: 0;
    }

    &-contact-phone {
        @include title($color: #fff);
        margin-bottom: 0;
    }

    &-contact-mail {
        @include title($color: #fff);
        text-transform: unset;
        font-family: $swiss-lt;
    }

    &-social {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: flex-end;

        &-link {
            color: #fff;
            transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:not(:last-child) {
                margin-right: 16px;
            }

            &:hover {
                font-size: 18px;
                color: #fff;
            }
        }
    }

    &-menu-title {
        @include title($color: #fff);
    }

    &-menu-list {
        list-style: none;
        margin: 0;
        padding: 0;

        &-link {
            color: #fff;
            font-family: $swiss-lt;
            font-weight: normal;
            position: relative;
            left: 0;
            transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                left: 8px;
                text-decoration: none;
                color: #fff;
            }
        }
    }
}