.home {
    position: relative;
    z-index: 0;
    
    &-slider {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        &-slide {
            background-image: url('../assets/img/b1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 600px;
        }
    }
}